<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>URL</mat-label>
      <input matInput placeholder="Paste Recipe URL" value="Recipe">
    </mat-form-field>

    <h1>Import Your Recipes</h1>
    <mat-form-field>
        <input matInput placeholder="Ingredient">
    </mat-form-field>
    <mat-radio-group aria-label="Select a unit">
        <mat-radio-button value="1"> lb </mat-radio-button>
        <mat-radio-button value="2"> tsp </mat-radio-button>
        <mat-radio-button value="3"> tbspn </mat-radio-button>
        <mat-radio-button value="4"> cup </mat-radio-button>
      </mat-radio-group>
  
 
